.profile-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 52px 49px;
}

.step-header h3 {
    font-weight: 600;
    color: #8A3FFC;
}

.verification-section h2 {
    font-weight: 600;
    color: #3C3E41;
}

.verification-section p {
    color: #37393C;
    font-weight: 400;
}

.profile-card {
    display: flex;
    flex-direction: column;
    gap: 18px;
}



.profile-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile-details h2 {
    color: #3C3E41;
    font-weight: 600;
}

.profile-details h5 {
    color: #3C3E41;
    font-weight: 500;
}

.profile-rating {
    display: flex;
    font-weight: 400;
    color: #37393C;
}

.profile-location {
    display: flex;
    gap:6px;
    color: #37393C;
    font-weight: 400;
}

.profile-description p {
    color: #37393C;
    font-weight: 400;
}

.profile-skills {
    display: flex;
    gap: 16px;
}

.profile-skills button {
    height: 44px;
    border-radius: 10px;
    padding: 8px 12px;
    color: #3C3E41;
    background-color: #DECFFF;
    border: solid 1px #8037ec;
}

.pricing-section h3 {
    font-weight: 600;
    color: #3C3E41;
}

.pricing-section p {
    color: #37393C;
    font-weight: 400;
}

.profile-name {
    display: flex;
    align-items: center;
}

.profile-name h2, .profile-name h5 {
    margin: 0;
    display: inline-block;
}

.profile-name h5 {
    margin-left: 10px;
}


.back-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.back-button img {
    width: 24px;
    height: 24px;
}

.complete-button {
    background-color:#8A3FFC;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    justify-items: right;

}

.complete-button:hover {
    background-color:#8A3FFC;
}