/* Global styles */
body, html {
  height: 100%;
  background-color: #f5f5f5; /* Background color for the whole page */
  font-family: Poppins, sans-serif;
}

.page3-whole-page {
  display: flex;
  justify-content: space-between; /* Align containers left and right */
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 20px; /* Add some padding to the left and right sides */
}

.page3-container-one {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

.page3-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.page3-logo-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.page3-logo {
  height: 80px;
}

.page3-description {
  color: #62646A;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
}

/* Button Group */
.page3-button-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.page3-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  width: 100%;
  padding: 18px;
  border-radius: 5px; /* Button corner radius */
  cursor: pointer;
  background-color: #fff; /* White background color */
  color: #000000; /* Black text color */
  border: 1px solid #8A3FFC;
}

.page3-button.selected {
  background-color: #8A3FFC; /* Violet background color when selected */
}

/* Change text color only when selected */
.page3-button.selected .page3-text-content .page3-button-title {
  color: #FFFFFF; /* Change text color to white when selected */
}

.page3-button .page3-button-title {
  color: #000000; /* Default text color is black */
}

.page3-button.selected .page3-button-description {
  color: #FFFFFF; /* Change description text color to white when selected */
}

.page3-button .page3-button-description {
  color: #000000; /* Default description text color */
}

.page3-button:active {
  background-color: #8A3FFC; /* Violet background color */
  color: #000000; /* Black text */
}

.page3-avatar-group {
  display: flex;
  gap: 5px;
}

.page3-avatar {
  border-radius: 50%;
}

.page3-text-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: left;
}

.page3-button-title {
  font-size: 20px;
  font-weight: 600;
}

.page3-button-description {
  font-size: 16px;
  font-weight: 300;
}





.page3-next-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: #8A3FFC; /* Violet background color */
  color: white; /* White text */
  border-radius: 5px; /* Button corner radius */
  border: none;
  font-weight: 600;
}

.page3-next-text {
  font-size: 16px;
}

/* Container Two Specific Styles */
.page3-text-section {
  padding: 20px;
}

.page3-quote {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  padding: 15px;
  background: linear-gradient(90deg,#8A3FFC, #DFCBFE );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.page3-subheading {
  font-size: 18px;
  color: #62646A;
  margin-top: 10px;
  padding: 20px;
}

.page3-shape img {
  width: 100%;
  height: auto;
}
.page3-icon-container input{
  border-radius: 100px;
  clip-path: circle(50% at 50% 50%);
  appearance: auto;
  border: none;
  outline: none;
}   
.page3-icon-container{
  border-radius: 100px;
  clip-path: circle(50% at 50% 50%);
  appearance: auto;
  border: none;
  outline: none;
}
.page3-checkbox{
  border: none;
  outline: none;
}
/* Remove checkbox border */
input[type="checkbox"] {
  border: none;
  outline: none;
  box-shadow: none;
  /* Optionally: Customize appearance further */
  width: 16px;
  height: 16px;
  accent-color: #8A3FFC; /* Customize the checkbox color */
}
